/*
style.css
porfolio

TODO: 
footer?
better placeholders
new section for list of technologies
photo or avatar
use better background
about me stuff
headings for each project
    
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* dark color scheme variables */
  --background-color-primary: #3b3b3b;
  --background-color-secondary: #292929;
  --foreground-color-primary: #e0e0e0;
  --foreground-color-secondary: #d2d2d2;
}

html {
  background-image: repeating-radial-gradient(
    circle at 0 0,
    var(--background-color-primary),
    var(--background-color-secondary) 12em
  );
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: var(--foreground-color-primary);
}

header {
  background-color: var(--background-color-secondary);
  color: var(--foreground-color-secondary);
  padding: 1em;
  font-size: 1.2em;
  line-height: 1.5em;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  margin: 0 0.4em;
}

nav a {
  color: var(--foreground-color-secondary);
  text-decoration: none;
}

main {
  max-width: 49em;
  margin: 0 auto;
  margin-top: 5em;
  padding: 20px;
  text-align: center;
}

/* fix scrolling when fixed header + nav links */
section::before {
  display: block;
  content: " ";
  margin-top: -7em;
  height: 7em;
}

section {
  margin-bottom: 3em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 1.5em;
}

/* .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery a {
  flex-basis: calc(50% - 10px);
  margin-bottom: 1.5em;
  overflow: hidden;
}

.gallery img {
  width: 90%;
  height: auto;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.gallery img:hover {
  transform: scale(1.05);
} */

#contact a {
  color: var(--foreground-color-secondary);
}

article.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

article.card {
  margin: 1em auto;
}

section#projects h3 {
  font-size: 1.4em;
  margin: 1.2em;
}

article#top-project.card img {
  width: 90%;
}

section#other-projects article.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

article.card img {
  width: 70%;
}

footer {
  background-color: var(--background-color-secondary);
}

@media only screen and (max-width: 768px) {
  header {
    display: block;
    text-align: center;
  }

  main {
    margin-top: 7em;
  }

  h2 {
    font-size: 1.6em;
  }

  .gallery a {
    flex-basis: calc(100% - 3em);
    margin: 0.5em auto;
  }
}
